body{
    background-image: url(fotografgalerisi/fotogaleri_arkaplan.png);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
#banner{
    width: 100%;
    height: 100px;
    position: absolute;
    top: 10px;
}
#logo{
    background-image: url(fotografgalerisi/fotogaleri_logo.png);
    width: 280px;
    height: 200px;
    position: absolute;
    background-repeat: no-repeat;
}
#menu_alt_kisim{
    position: absolute;
    background-repeat: repeat-x;
    left: 320px;
    top: 0px;
}
#anasayfa_sol{
    background-image: url(fotografgalerisi/ust_menu_sol.png);
    height: 92px;
    position: absolute;
    width: 39px;
    margin-top: 40px;
    background-repeat: no-repeat;
}
#anasayfa_orta{
    background-image: url(fotografgalerisi/ust_menu_orta.png);
    position: absolute;
    height: 92px;
    width: 900px;
    left: 39px;
    margin-top: 40px;
    background-repeat: repeat-x;
}
#menu_anasayfa_anasayfa{
    position: absolute;
    margin-left: 50px;
    float: left;
}
#menu_anasayfa_anasayfa_sol{
    background-image: url(fotografgalerisi/fotogaleri_menu_anasayfa_sol.png);
    height: 63px;
    width: 23px;
    margin-left: 3px;
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 15px;
    float: left;
}
#menu_anasayfa_anasayfa_orta{
    background-image: url(fotografgalerisi/fotogaleri_menu_anasayfa_orta.png);
    height: 63px;
    width: 160px;
    left: 23px;
    position: absolute;
    background-repeat: repeat-x;
    margin-top: 15px;
    float: left;
}
#menu_anasayfa_anasayfa_sağ{
    background-image: url(fotografgalerisi/fotogaleri_menu_anasayfa_sag.png);
    height: 63px;
    width: 160px;
    left: 183px;
    position: absolute;
    background-repeat: no-repeat;
    margin-top: 15px;
    float: left;
}
#menu_anasayfa_fotogaleri{
    margin-left: 100px;
    position: absolute;
    height: 63px;
    margin-top: 15px;
    float: left;
    left: 200px;
}
#menu_anasayfa_fotogaleri_sol{
    background-image: url(fotografgalerisi/fotogaleri_menu_fotogaleri_sol.png);
    width: 23px;
    margin-left: 3px;
    height: 63px;
    background-repeat: no-repeat;
    float: left;
}
#menu_anasayfa_fotogaleri_orta{
    background-image: url(fotografgalerisi/fotogaleri_menu_fotogaleri_orta.png);
    height: 63px;
    width: 200px;
    left: 23px;
    position: absolute;
    background-repeat: repeat-x;
    float: left;
}
#menu_anasayfa_fotogaleri_sağ{
    background-image: url(fotografgalerisi/fotogaleri_menu_fotogaleri_sag.png);
    width: 23px;
    height: 63px;
    margin-left: 197px;
    background-repeat: no-repeat;
    float: left;
}
#menu_anasayfa_turistikyer{
    margin-left: 100px;
    position: absolute;
    height: 63px;
    margin-top: 15px;
    float: left;
    left: 490px;
}
#menu_anasayfa_tyer_orta{
    background-image: url(anasayfa/menu_yer_orta.png);
    height: 63px;
    width: 200px;
    left: 23px;
    position: absolute;
    background-repeat: repeat-x;
    float: left;
}
#menu_anasayfa_tyer_sağ{
    background-image: url(anasayfa/menu_yer_sağ.png);
    width: 23px;
    height: 63px;
    margin-left: 200px;
    background-repeat: no-repeat;
    float: left;
}
#menu_anasayfa_tyer_sol{
    background-image: url(anasayfa/menu_yer_sol.png);
    width: 23px;
    height: 63px;
    background-repeat: no-repeat;
    float: left;
}
a{
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    float:left;
    text-decoration: none;
    color: white;

}
a:hover{
    text-decoration: underline;
}
a:visited{
    color:white;
    text-decoration: none;
}
a:visited:hover{
    color: blue;
}
#anasayfa_sag{
    background-image: url(fotografgalerisi/ust_menu_sağ.png);
    height: 92px;
    position: relative;
    left: 939px;
    width: 39px;
    margin-top: 40px;
    background-repeat: no-repeat;
}
#galeri{
    float: left;
    width: 1300px;
    height: 400px;
    position: absolute;
    margin-top: 200px;
    margin-left: 30px;
}
#galeri_sol{
    background-image: url(fotografgalerisi/fotogaleri_sol.png);
    width: 60px;
    height: 400px;
    position: absolute;
    background-repeat: no-repeat;
}
#galeri_orta{
    background-image: url(fotografgalerisi/fotogaleri_orta.png);
    width: 1180px;
    height: 400px;
    position: absolute;
    margin-left: 59px;
    background-repeat: repeat-x;
}
#galeri_sinop_kalesi{
    float: left;
    margin-left: 10px;
    position: absolute;
}
#galeri_sinop_kalesi_foto{
    background-image: url(fotografgalerisi/fotogaleri_sinopkalesi.png);
    width: 335px;
    height: 220px;
    margin-top: 20px;
    position: absolute;
    background-repeat: no-repeat;
    float: left;
}
#galeri_pervane_medresesi{
    float: left;
    margin-left: 440px;
    position: absolute;
}
#galeri_pervane_medresesi_foto{
    background-image: url(fotografgalerisi/fotogaleri_pervanemedresesi.png);
    width: 328px;
    height: 218px;
    margin-top: 20px;
    position: absolute;
    background-repeat: no-repeat;
    float: left;
}
#galeri_balatlar_kilisesi{
    float: left;
    margin-left: 850px;
    position: absolute;
}
#galeri_balatlar_kilisesi_foto{
    background-image: url(fotografgalerisi/fotogaleri_balatlarkilisesi.png);
    width: 322px;
    height: 218px;
    margin-top: 20px;
    position: absolute;
    background-repeat: no-repeat;
    float: left;
}
h3{
    margin-top: 40px;
    margin-left: 60px;
    font-size: 24px;
}
#galeri_sag{
    background-image: url(fotografgalerisi/fotogaleri_sag.png);
    width: 60px;
    height: 400px;
    position: absolute;
    margin-left: 1239px;
    background-repeat: no-repeat;
}
#alt_cubuk{
    float: left;
    position: absolute;
    margin-top: 610px;
    margin-left: 200px;
}
#alt_cubuk_sol{
    background-image: url(anasayfa/altkutu_sol.png);
    width: 55px;
    height: 95px;
    margin-top: 20px;
    background-repeat: no-repeat;
    position: absolute;
}
#alt_cubuk_orta{
    background-image: url(anasayfa/altkutu_orta.png);
    width: 838px;
    height: 95px;
    margin-left: 54px;
    margin-top: 20px;
    background-repeat: repeat-x;
    position: absolute;
}
#alt_cubuk_sag{
    background-image: url(anasayfa/altkutu_sag.png);
    width: 55px;
    height: 95px;
    margin-top: 20px;
    margin-left: 892px;
    background-repeat: no-repeat;
    position: absolute;
}